.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(to bottom right, #c4f6ff, #f9fcb6);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;

}

.subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

.roleSelection {
  display: flex;
  gap: 20px;
}

.roleBox {
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease;
  width: 100px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.roleBox.selected {
  border-color: #4CAF50;
  background-color: #e0ffe0;
  transform: scale(1.05);
}

.confirmation {
  margin-top: 20px;
  text-align: center;
}

.confirmationText {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
}

.submitButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #45a049;
}
