.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    /* font-family: 'Baloo 2', cursive;  */
    border: 1px solid #e5e5e5; 
    border-radius: 30px;
    box-shadow: 5px 5px rgb(190, 237, 176);
    background-color: #f0fff4; 
  }
  
  .title {
    font-size: 2.8rem; 
    margin-bottom: 20px;
    color: #171717; 
    text-align: center; 
    letter-spacing: 1px; 
  }
  
  .subtitle {
    font-size: 1.5rem; 
    margin-bottom: 30px;
    color: #555; 
    text-align: center; 
    font-weight: 500; 
  }
  
  .roleSelection {
    display: flex;
    gap: 30px; 
  }
  
  .roleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 150px; 
    border: 2px solid #48745b; 
    border-radius: 20px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: transform 0.2s, box-shadow 0.2s; 
    text-align: center; 
  }
  
  .roleBox:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); 
  }
  
  .roleBox span {
    font-size: 3.5rem; 
  }
  
  .roleBox p {
    margin-top: 10px; 
    font-size: 1.2rem; 
    color: #138622; 
    font-weight: 600; 
  }
  
  .submitButton {
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.submitButton:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
}
